.Dashboard-header {
  text-align: center;
  background-color: #4fa444;
  height: 80px;
  padding: 20px;
  color: white;
}

.Dashboard-content {
  font-family: 'Roboto', sans-serif;
  margin: 30px;
  color: #5e6367;
}

.Dashboard-widgets {
  background-color: white;
}

.Dashboard-widgets-icon-1 {
  padding-top: 15px;
  text-align: center;
  height: 76px;
  background-color: #30a5ff;
}
.Dashboard-widgets-icon-2 {
  padding-top: 15px;
  text-align: center;
  height: 76px;
  background-color: #ffb53e
}
.Dashboard-widgets-icon-3 {
  padding-top: 15px;
  text-align: center;
  height: 76px;
  background-color: #1ebfae;
}
.Dashboard-widgets-icon-4 {
  padding-top: 15px;
  text-align: center;
  height: 76px;
  background-color: #f9243f
}

.Dashboard-widgets-number {
  height: 76px;
  background-color: white;
}