.chat-icon {
  margin: 23px;
  margin-top: 10px;
}    

.chat-media {
  margin: 35px;
  margin-bottom: 50px;
}

.chat-time {
  font-size: small;
}

.messages-panel {
  max-width: 800px;
}

.messages-fixed {
  min-height: 10px;
  max-height: 400px;
  overflow-y: scroll;
}